In [ ]:
import requests

In [ ]:
my_key="RGAPI-47e1a46f-d531-4b14-ba3e-ae40074b0c42"

In [ ]:
import pandas as pd

### Get Tier Information

In [ ]:
sid=pd.read_csv("/content/summoner_id.csv")

In [ ]:
sid.head()

  summonerName                                        summonerId
0          Fli   6mCBeB8PNMnaIL5AUuVb_ZnSUYnlJNRc8nRsey7D5CwFqeo
1          Lcy   yCq_uSUHRYQ8uL0HD2ae_-_oRvG3sspofvzvnYAt5aHdnUg
2          rbm   T9D7Chm42Og6vn-UqRHqyXOi7vDpksI4a4GZ5pN4yHqGb70
3          vnz  pC9fack4kyJDBQCe3IJibSqEf814k0ox4DJQ9kiqv5hyZcv5
4         dard   xSSIADrFGtLteCIm6WZIFE7a7f3dbNzTVwVyIhC2q0RGaQ8

In [ ]:
lp_url="https://na1.api.riotgames.com/lol/league/v4/entries/by-summoner/xSSIADrFGtLteCIm6WZIFE7a7f3dbNzTVwVyIhC2q0RGaQ8?api_key=RGAPI-47e1a46f-d531-4b14-ba3e-ae40074b0c42"

In [ ]:
a=requests.get(lp_url).json()

In [ ]:
a[0]["leaguePoints"]

690

In [ ]:
len(sid['summonerId'])

2681

In [ ]:
sid['summonerId'].head(3)

0    6mCBeB8PNMnaIL5AUuVb_ZnSUYnlJNRc8nRsey7D5CwFqeo
1    yCq_uSUHRYQ8uL0HD2ae_-_oRvG3sspofvzvnYAt5aHdnUg
2    T9D7Chm42Og6vn-UqRHqyXOi7vDpksI4a4GZ5pN4yHqGb70
Name: summonerId, dtype: object

In [ ]:
len(sid['summonerId'])

500

In [ ]:
summonerId_list = sid['summonerId'].tolist()

In [ ]:
summonerId_list1=summonerId_list[0:100]
summonerId_list2=summonerId_list[200:300]
summonerId_list3=summonerId_list[300:400]
summonerId_list4=summonerId_list[400:500]
summonerId_list5=summonerId_list[500:600]
summonerId_list6=summonerId_list[600:7000]
summonerId_list7=summonerId_list[700:800]
summonerId_list8=summonerId_list[800:900]
summonerId_list9=summonerId_list[900:1000]
summonerId_list10=summonerId_list[1000:1100]
summonerId_list11=summonerId_list[1100:1200]
summonerId_list12=summonerId_list[1200:1300]
summonerId_list13=summonerId_list[1300:1400]
summonerId_list14=summonerId_list[1400:1500]
summonerId_list15=summonerId_list[1500:1600]
summonerId_list16=summonerId_list[1600:1700]
summonerId_list17=summonerId_list[1700:1800]
summonerId_list18=summonerId_list[1800:1900]
summonerId_list19=summonerId_list[1900:2000]
summonerId_list20=summonerId_list[2000:2100]
summonerId_list21=summonerId_list[2100:2200]
summonerId_list22=summonerId_list[2200:2300]
summonerId_list23=summonerId_list[2300:2400]
summonerId_list24=summonerId_list[2400:2500]
summonerId_list25=summonerId_list[2500:2600]
summonerId_list26=summonerId_list[2600:]
big_list=[summonerId_list1,summonerId_list2,summonerId_list3,summonerId_list4,summonerId_list5,summonerId_list6,summonerId_list7,summonerId_list8,summonerId_list9,summonerId_list10,
          summonerId_list11,summonerId_list12,summonerId_list13,summonerId_list14,summonerId_list15,summonerId_list16,summonerId_list17,summonerId_list18,summonerId_list19,summonerId_list20,summonerId_list21,summonerId_list22,summonerId_list23,summonerId_list24,summonerId_list25,summonerId_list26]

In [ ]:
len(big_list)

26

In [ ]:
big_list[0][0]

'6mCBeB8PNMnaIL5AUuVb_ZnSUYnlJNRc8nRsey7D5CwFqeo'

In [ ]:
li=[]
my_key="RGAPI-47e1a46f-d531-4b14-ba3e-ae40074b0c42"
for j in big_list:
  for i in j:
        summoner_url = "https://na1.api.riotgames.com/lol/league/v4/entries/by-summoner/" + i + '?api_key=' + my_key
        get_player_info = requests.get(summoner_url).json()
        li.append(get_player_info)
  time.sleep(120)

In [ ]:
li[1][0]["summonerId"]

'yCq_uSUHRYQ8uL0HD2ae_-_oRvG3sspofvzvnYAt5aHdnUg'

In [ ]:
new_li = []
for i in li:
     if 'status' not in i:
        new_li.append(i)

In [ ]:
len(new_li)

3581

In [ ]:
new_li[0][1]

{'leagueId': '64de6776-701d-3731-9884-9f22c07f5e6b',
 'queueType': 'RANKED_SOLO_5x5',
 'tier': 'MASTER',
 'rank': 'I',
 'summonerId': '6mCBeB8PNMnaIL5AUuVb_ZnSUYnlJNRc8nRsey7D5CwFqeo',
 'summonerName': 'Fli',
 'leaguePoints': 424,
 'wins': 222,
 'losses': 203,
 'veteran': True,
 'inactive': False,
 'freshBlood': False,
 'hotStreak': False}

In [ ]:
new_li1 = []
for i in new_li:
     if 'RANKED_SOLO_5x5' not in i:
        new_li1.append(i)

In [ ]:
len(new_li1)

3581

In [ ]:
a.columns

RangeIndex(start=0, stop=3, step=1)

In [ ]:
new_li1[0][0]

{'leagueId': '6961a554-f6d7-473c-87cb-d8c108fa060e',
 'queueType': 'RANKED_FLEX_SR',
 'tier': 'DIAMOND',
 'rank': 'III',
 'summonerId': '6mCBeB8PNMnaIL5AUuVb_ZnSUYnlJNRc8nRsey7D5CwFqeo',
 'summonerName': 'Fli',
 'leaguePoints': 0,
 'wins': 8,
 'losses': 7,
 'veteran': False,
 'inactive': False,
 'freshBlood': False,
 'hotStreak': False}

In [ ]:
for i in new_li1:
    if not i:
        new_li1.remove(i)

In [ ]:
len(new_li1)

3552

In [ ]:
df1=pd.DataFrame(new_li1[0][0],index=[0])

In [ ]:
df1 = df1.append(new_li1[1][0], ignore_index=True)

<ipython-input-213-0b7a01df07f0>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(new_li1[1][0], ignore_index=True)

In [ ]:
df1.head()

,leagueId,queueType,tier,rank,summonerId,summonerName,leaguePoints,wins,losses,veteran,inactive,freshBlood,hotStreak
0,6961a554-f6d7-473c-87cb-d8c108fa060e,RANKED_FLEX_SR,DIAMOND,III,6mCBeB8PNMnaIL5AUuVb_ZnSUYnlJNRc8nRsey7D5CwFqeo,Fli,0,8,7,False,False,False,False
1,64de6776-701d-3731-9884-9f22c07f5e6b,RANKED_SOLO_5x5,MASTER,I,yCq_uSUHRYQ8uL0HD2ae_-_oRvG3sspofvzvnYAt5aHdnUg,Lcy,439,62,47,False,False,False,True

In [ ]:
for i in new_li1[2:]:
  df1 = df1.append(i[0], ignore_index=True)

In [ ]:
df1.shape

(3552, 14)

In [ ]:
df1.head(10)

,leagueId,queueType,tier,rank,summonerId,summonerName,leaguePoints,wins,losses,veteran,inactive,freshBlood,hotStreak,miniSeries
0,6961a554-f6d7-473c-87cb-d8c108fa060e,RANKED_FLEX_SR,DIAMOND,III,6mCBeB8PNMnaIL5AUuVb_ZnSUYnlJNRc8nRsey7D5CwFqeo,Fli,0,8,7,False,False,False,False,NaN
1,64de6776-701d-3731-9884-9f22c07f5e6b,RANKED_SOLO_5x5,MASTER,I,yCq_uSUHRYQ8uL0HD2ae_-_oRvG3sspofvzvnYAt5aHdnUg,Lcy,439,62,47,False,False,False,True,NaN
2,64de6776-701d-3731-9884-9f22c07f5e6b,RANKED_SOLO_5x5,MASTER,I,T9D7Chm42Og6vn-UqRHqyXOi7vDpksI4a4GZ5pN4yHqGb70,rbm,322,98,98,False,False,False,False,NaN
3,bc716513-3d4b-446e-8315-09e954f3ca96,RANKED_SOLO_5x5,GOLD,IV,pC9fack4kyJDBQCe3IJibSqEf814k0ox4DJQ9kiqv5hyZcv5,vnz,27,34,27,False,False,False,False,NaN
4,d7bad020-ee56-37bf-b072-ae37ce64c2c1,RANKED_SOLO_5x5,GRANDMASTER,I,xSSIADrFGtLteCIm6WZIFE7a7f3dbNzTVwVyIhC2q0RGaQ8,dard,690,258,245,False,False,False,False,NaN
5,d7bad020-ee56-37bf-b072-ae37ce64c2c1,RANKED_SOLO_5x5,GRANDMASTER,I,N-EsqWDfftROHk3jUSfrFtN0zmjpZD220L6o4gLz6eBizgI,eXyu,678,147,135,True,False,False,False,NaN
6,9c8422dd-4fce-344c-832e-e907c73f7935,RANKED_SOLO_5x5,CHALLENGER,I,ZSFjbR3oUS0ebBptskVhvPNXR4uD6hyh77PjOx1BXPKV8wg,Copý,1660,153,116,True,False,False,True,NaN
7,7abd60ac-d5d5-4e22-8339-a4fc1e24b984,RANKED_SOLO_5x5,DIAMOND,I,_1w3eIyshtKjT0q48pKmvQ_OLw2ql6hJeQAFWtp1WTbgdCY,Sky9Spica,48,41,50,False,False,False,False,NaN
8,0364a4f9-c9e4-41d3-8046-896ae5a6aa1d,RANKED_TFT_DOUBLE_UP,SILVER,I,TvPmDEKxuZeYnCUbGo_TMS0U5TW53sccDB2_l_1LhgmXEXs,Yuu13,36,11,4,False,False,False,False,NaN
9,d7bad020-ee56-37bf-b072-ae37ce64c2c1,RANKED_SOLO_5x5,GRANDMASTER,I,gzsfjRLBuc0DnosWJOOfR6bu0E2MO4rzQWZo0uDqD7k6qV...,maces,758,159,144,False,False,False,False,NaN

In [ ]:
df1 = df1[~df1['queueType'].str.startswith('RANKED_TFT_DOUBLE_UP')]

In [ ]:
df1.to_csv('lp.csv', index=False)

###ID List

In [ ]:
id = ['jamican banana', 'nalamango', '6K OnFleek', 'TWTV ISLESWORLD', 'TBS1', 'Fishlord', 'dard', 'ACKÈRMAN', 'YangXi qaq', 'ScaryJerry', 'Pentaless', 'Draven696969', 'TTV AKASHI10', 'V1per', 'Dam Supporters', 'DIGWIN', 'Aiden Yasuo', 'Yuu13', 'Solarbacca', 'M1nit', 'Eclipse', 'TF Blade', 'C9 Zven', 'Josedeodo', 'Pomerzz TTV', 'Matty', 'TL Honda CoreJJ', 'WillNA1', 'DIPLEX', 'broken mirror', 'Tony Top', 'TwTv KoKooPuffs', 'Y4ma', 'BABO TOP', '5kid', 'FormlessGameplay', 'Cytheur', 'ROCKBOOM', 'Down Kim', 'Insomniaa', 'Do it again', 'KR tacokiller', 'u should know me', 'Feather Daddy', 'Replied', 'Levitate', 'JUG MORANT', 'dog kachu', 'Cupic', 'Allorim']

## PUUID

In [ ]:
def get_puuid(my_key,id):
   puuid_list=[]
   for i in range(len(id)):
      summoner_url = "https://na1.api.riotgames.com/lol/summoner/v4/summoners/by-name/" + str(id[i]) + '?api_key=' + my_key
      get_player_info = requests.get(summoner_url).json()
      puuid = get_player_info['puuid']
      puuid_list.append(puuid)
   return puuid_list

In [ ]:
puuid=get_puuid(my_key,id)

In [ ]:
summoner_url = "https://na1.api.riotgames.com/lol/summoner/v4/summoners/by-name/Pomerzz TTV/?api_key=RGAPI-30478052-4c9d-4e84-8790-4957af59f9c4"

In [ ]:
get_player_info = requests.get(summoner_url).json()
puuid = get_player_info['puuid']

In [ ]:
puuid

'0ScP_Vy5TmZUTA00TmJPJIJdtEx4oCAOMYGy-RzKcVNeImXsRmxGh1r32ayIuTg3Iz__h5MkLAYI8A'

In [ ]:
len(puuid)

50

In [ ]:
puuid[0]

'nxA_Tsw7bavAjx6wEN66jmHbSaaaYic2Cnnfc-VIyLRl3EMsVZpJKRZsMO9Ts-Fg9fyi3N9wfivniQ'

## Get Match Id

In [ ]:
def get_match_id(puuid):
    match_id_list=[]
    for i in range(len(puuid)):
      get_match= "https://americas.api.riotgames.com/lol/match/v5/matches/by-puuid/" +str(puuid[i])+ "/ids?type=ranked&start=0&count=100" + '&api_key=' + my_key
      match_info = requests.get(get_match).json()
      match_id_list.append(match_info)

    return match_id_list

In [ ]:
match_id=get_match_id(puuid)

In [ ]:
len(match_id)

50

In [ ]:
combined_match_id=[]
for i in match_id:
    combined_match_id += i
len(combined_match_id)

4900

## Remove Duplicate

In [ ]:
final_combined_match_id = list(set(combined_match_id))

In [ ]:
len(final_combined_match_id)

2769

## Get in game info

In [ ]:
import pandas as pd

In [ ]:
def get_game_info(final_combined_match_id):
  mydf_list=[]
  for i in final_combined_match_id:
    get_in_game_info_="https://americas.api.riotgames.com/lol/match/v5/matches/" +str(i)+ '?api_key=' + my_key 
    In_game_info = requests.get(get_in_game_info_).json()
    In_game_info=In_game_info["info"]["participants"] 
    mydf_list.append(pd.DataFrame.from_dict(In_game_info))
  return mydf_list

## Split Data into different batch to avoud limits

In [ ]:
final_combined_match_id1 = final_combined_match_id[:100]       
final_combined_match_id2 = final_combined_match_id[100:200]   
final_combined_match_id3 = final_combined_match_id[200:300]
final_combined_match_id4 = final_combined_match_id[300:400]    
final_combined_match_id5 = final_combined_match_id[400:500]
final_combined_match_id6 = final_combined_match_id[500:600]
final_combined_match_id7 = final_combined_match_id[600:700]
final_combined_match_id8 = final_combined_match_id[700:800]
final_combined_match_id9 = final_combined_match_id[800:900]
final_combined_match_id10 = final_combined_match_id[900:1000]
final_combined_match_id11 = final_combined_match_id[1000:1100]
final_combined_match_id12 = final_combined_match_id[1100:1200]
final_combined_match_id13 = final_combined_match_id[1200:1300]
final_combined_match_id14 = final_combined_match_id[1300:1400]
final_combined_match_id15 = final_combined_match_id[1400:1500]
final_combined_match_id16 = final_combined_match_id[1500:1600]
final_combined_match_id17 = final_combined_match_id[1600:1700]
final_combined_match_id18 = final_combined_match_id[1700:1800]
final_combined_match_id19 = final_combined_match_id[1800:1900]
final_combined_match_id20 = final_combined_match_id[1900:2000]
final_combined_match_id21 = final_combined_match_id[2000:2100]
final_combined_match_id22 = final_combined_match_id[2100:2200]
final_combined_match_id23 = final_combined_match_id[2200:2300]
final_combined_match_id24= final_combined_match_id[2300:2400]
final_combined_match_id25= final_combined_match_id[2400:2500]   
final_combined_match_id26 = final_combined_match_id[2500:2600] 
final_combined_match_id27 = final_combined_match_id[2600:2700]

In [ ]:
final_combined_match_id_list=[]
play_info_list=[]
final_match_df=[]
for i in range(0,28,1):
  final_combined_match_id_list.append("final_combined_match_id"+str(i))
  play_info_list.append("play_info_list" + str(i))
  final_match_df.append("final_match_df" + str(i))

## Combine all the data from different batch

In [ ]:
import time
play_info_list1=get_game_info(final_combined_match_id1)
final_match_df1 = pd.concat(play_info_list1)
print(final_match_df1.shape)
time.sleep(120)

play_info_list2=get_game_info(final_combined_match_id2)
final_match_df2 = pd.concat(play_info_list2)
print(final_match_df2.shape)
time.sleep(120)

play_info_list3=get_game_info(final_combined_match_id3)
final_match_df3 = pd.concat(play_info_list3)
print(final_match_df3.shape)
time.sleep(120)

play_info_list4=get_game_info(final_combined_match_id4)
final_match_df4 = pd.concat(play_info_list4)
print(final_match_df4.shape)
time.sleep(120)

play_info_list5=get_game_info(final_combined_match_id5)
final_match_df5 = pd.concat(play_info_list5)
print(final_match_df5.shape)
time.sleep(120)

play_info_list6=get_game_info(final_combined_match_id6)
final_match_df6 = pd.concat(play_info_list6)
print(final_match_df6.shape)
time.sleep(120)

play_info_list7=get_game_info(final_combined_match_id7)
final_match_df7 = pd.concat(play_info_list7)
print(final_match_df7.shape)
time.sleep(120)

play_info_list8=get_game_info(final_combined_match_id8)
final_match_df8 = pd.concat(play_info_list8)
print(final_match_df8.shape)
time.sleep(120)

play_info_list9=get_game_info(final_combined_match_id9)
final_match_df9 = pd.concat(play_info_list9)
print(final_match_df9.shape)
time.sleep(120)

play_info_list10=get_game_info(final_combined_match_id10)
final_match_df10 = pd.concat(play_info_list10)
print(final_match_df10.shape)
time.sleep(120)

(1000, 121)
(1000, 121)
(1000, 121)
(1000, 121)
(1000, 121)
(1000, 121)
(1000, 121)
(1000, 121)
(1000, 121)
(1000, 121)

In [ ]:
my_df_part1=pd.concat([final_match_df1, final_match_df2, final_match_df3,final_match_df4,final_match_df5,final_match_df6,final_match_df7,final_match_df8,final_match_df9,final_match_df10])

In [ ]:
my_df_part1.shape

(10000, 121)

In [ ]:
import time
play_info_list11=get_game_info(final_combined_match_id11)
final_match_df11 = pd.concat(play_info_list11)
print(final_match_df11.shape)
time.sleep(120)

play_info_list12=get_game_info(final_combined_match_id12)
final_match_df12 = pd.concat(play_info_list12)
print(final_match_df12.shape)
time.sleep(120)

play_info_list13=get_game_info(final_combined_match_id13)
final_match_df13 = pd.concat(play_info_list13)
print(final_match_df13.shape)
time.sleep(120)

play_info_list14=get_game_info(final_combined_match_id14)
final_match_df14 = pd.concat(play_info_list14)
print(final_match_df14.shape)
time.sleep(120)

play_info_list15=get_game_info(final_combined_match_id15)
final_match_df15 = pd.concat(play_info_list15)
print(final_match_df15.shape)
time.sleep(120)

play_info_list16=get_game_info(final_combined_match_id16)
final_match_df16 = pd.concat(play_info_list16)
print(final_match_df16.shape)
time.sleep(120)

play_info_list17=get_game_info(final_combined_match_id17)
final_match_df17 = pd.concat(play_info_list17)
print(final_match_df17.shape)
time.sleep(120)

play_info_list18=get_game_info(final_combined_match_id18)
final_match_df18 = pd.concat(play_info_list18)
print(final_match_df18.shape)
time.sleep(120)

play_info_list19=get_game_info(final_combined_match_id19)
final_match_df19 = pd.concat(play_info_list19)
print(final_match_df19.shape)
time.sleep(120)

play_info_list20=get_game_info(final_combined_match_id20)
final_match_df20 = pd.concat(play_info_list20)
print(final_match_df20.shape)

(1000, 121)
(1000, 121)
(1000, 121)
(1000, 121)
(1000, 121)
(1000, 121)
(1000, 121)
(1000, 121)
(1000, 121)
(1000, 121)

In [ ]:
my_df_part2=pd.concat([final_match_df11, final_match_df12, final_match_df13,final_match_df14,final_match_df15,final_match_df16,final_match_df17,final_match_df18,final_match_df19,final_match_df20])

In [ ]:
my_df_part2.shape

(10000, 121)

In [ ]:
import time
play_info_list21=get_game_info(final_combined_match_id21)
final_match_df21 = pd.concat(play_info_list21)
print(final_match_df21.shape)
time.sleep(120)

play_info_list22=get_game_info(final_combined_match_id22)
final_match_df22 = pd.concat(play_info_list22)
print(final_match_df22.shape)
time.sleep(120)

play_info_list23=get_game_info(final_combined_match_id23)
final_match_df23 = pd.concat(play_info_list23)
print(final_match_df23.shape)
time.sleep(120)

play_info_list24=get_game_info(final_combined_match_id24)
final_match_df24 = pd.concat(play_info_list24)
print(final_match_df24.shape)
time.sleep(120)

play_info_list25=get_game_info(final_combined_match_id25)
final_match_df25 = pd.concat(play_info_list25)
print(final_match_df25.shape)
time.sleep(120)

play_info_list26=get_game_info(final_combined_match_id26)
final_match_df26 = pd.concat(play_info_list26)
print(final_match_df26.shape)
time.sleep(120)

play_info_list27=get_game_info(final_combined_match_id27)
final_match_df27 = pd.concat(play_info_list27)
print(final_match_df27.shape)

(1000, 121)
(1000, 121)
(1000, 121)
(1000, 121)
(1000, 121)
(1000, 121)
(1000, 121)

In [ ]:
my_df_part3=pd.concat([final_match_df21, final_match_df22, final_match_df23,final_match_df24,final_match_df25,final_match_df26,final_match_df27])

In [ ]:
my_final_df=pd.concat([my_df_part1, my_df_part2, my_df_part3])

In [ ]:
my_final_df.shape

(27000, 121)

In [ ]:
my_final_df.head()

,allInPings,assistMePings,assists,baitPings,baronKills,basicPings,bountyLevel,challenges,champExperience,champLevel,...,turretKills,turretTakedowns,turretsLost,unrealKills,visionClearedPings,visionScore,visionWardsBoughtInGame,wardsKilled,wardsPlaced,win
0,0,1,2,0,0,0,1,"{'12AssistStreakCount': 0, 'abilityUses': 165,...",4908,8,...,0,0,7,0,0,8,0,1,4,False
1,1,3,0,1,0,0,0,"{'12AssistStreakCount': 0, 'abilityUses': 127,...",4261,8,...,0,0,7,0,0,10,2,3,2,False
2,1,3,1,0,0,0,0,"{'12AssistStreakCount': 0, 'abilityUses': 85, ...",4488,8,...,0,0,7,0,0,3,0,0,1,False
3,0,1,1,0,0,0,0,"{'12AssistStreakCount': 0, 'abilityUses': 68, ...",4477,8,...,0,0,7,0,0,7,0,1,3,False
4,0,0,2,0,0,0,0,"{'12AssistStreakCount': 0, 'abilityUses': 43, ...",4212,8,...,0,0,7,0,0,4,0,2,0,False

In [ ]:
my_final_df.to_csv('data_without_index.csv', index=False)